@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  color: rgb(163, 171, 178);
}
.darker {
  background-color: #0c151d;
  scroll-behavior: smooth;
}
.container {
  width: auto;
  margin: 0 auto;
}
.heading {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.text__header__box {
  margin-left: 40px;
}
.icon {
  margin-top: 20px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.icon:hover{
transform: scale(1.05);
}
.profile__box {
  display: flex;
  align-items: center;
  margin-top: 50px;
}
.header__text {
  font-size: 46px;
  font-weight: 500;
}
.header__subtitle {
  font-size: 22px;
  font-weight: 500;
}
.icon__pack {
  margin-top: 10px;
  margin-left: -10px;
  a {
    text-decoration: none;
  }
}

.icon__pack i {
  font-size: 36px;
  margin: 0px 10px;
  transition: all 0.3s ease;
}
.icon__pack i:hover{
  transform: scale(1.1);
 }
.statics__box {
  width: 634px;
  height: 142px;
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.stats {
  text-align: center;
  font-size: 20px;
  font-weight: 500;
}
.btn__box {
  display: flex;
  width: 618px;
  justify-content: space-between;
  margin-top: 40px;
}
.btn__1 {
  width: 290px;
  height: 80px;
  background-color: rgb(255, 224, 113);
  color: black;
  border: none;
  font-size: 22px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
  i {
    width: 26px;
    height: 24px;
    font-weight: normal;
    color: black;
  }
}
.btn__1:hover{
  transform: scale(1.05);
 }
.btn__2 {
  width: 290px;
  height: 80px;
  background-color: rgb(23, 31, 38);
  border: none;
  font-size: 22px;
  font-weight: 500;
  color: rgb(163, 171, 178);
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.btn__2:hover{
  transform: scale(1.05);
 }
.section__box {
  width: 756px;
  height: 132px;
  background-color: rgb(23, 31, 38);
  margin-top: 70px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.secbtn__1 {
  width: 349.6px;
  height: 80px;
  background-color: #0c151d;
  border: none;
  font-size: 22px;
  font-weight: 500;
  color: rgb(163, 171, 178);
  border-radius: 10px;
  cursor: pointer;
transition: all 0.3s ease;
}
.secbtn__1:hover{
 transform: scale(1.05);
}
.secbtn__2 {
  width: 349.6px;
  height: 80px;
  background-color: rgb(23, 31, 38);
  border: none;
  font-size: 22px;
  font-weight: 500;
  color: rgb(163, 171, 178);
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.secbtn__2:hover{
  transform: scale(1.05);
 }
.image__box {
  width: 757px;
  height: 826px;
  margin-top: 60px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  img {
    cursor: pointer;
    transition: all 0.3s ease;
  }
}
.image__box img:hover{
    transform: scale(1.05);
}
.footer__text {
  color: #a3abb2;
  font-size: 22px;
  font-weight: 500;
  text-align: center;
  margin-top: 80px;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background-color: rgb(23, 31, 38); /* Set the track color */
}

::-webkit-scrollbar-thumb {
  background-color: gray; /* Set the scrollbar color */
  border-radius: 6px; /* Optional: Round the corners of the scrollbar thumb */
}

.sunner{
  background-color: rgb(233, 235, 236);
  color: rgb(61, 61, 61);
}
.shadower{
  background-color: white;
  color: rgb(61, 61, 61);
}
.grayer{
  background: rgb(215, 215, 215);
  color: rgb(61, 61, 61);
}